html,
body,
.main,
.main > div {
  height: 100%;
  width: 100%;
}
body {
  background-image: url('../img/background.jpg');
  background-size: cover;
}
p {
  margin: 0;
}
.topbar {
  background-color: rgba(10, 10, 10, 0.6);
  height: 16%;
  width: 100%;
}
.topbar .topbar-left {
  float: left;
  height: 100%;
  width: calc(100% - 300px);
}
.topbar .topbar-left .dropdown {
  background: blue;
  height: 27%;
  width: 100%;
}
.topbar .topbar-left .localtimeline {
  height: 73%;
  width: 100%;
}
.topbar .topbar-left .localtimeline .timelinezoom {
  float: left;
  height: 100%;
  width: 24px;
}
.topbar .topbar-left .localtimeline svg {
  height: 100%;
  width: calc(100% - 24px);
}
.topbar .beatsnap {
  background: green;
  float: right;
  height: 100%;
  width: 300px;
}
.center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 77%;
  width: 100%;
}
.sidebar {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 10%;
      flex: 1 0 10%;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 2% 0;
}
.sidebar .sidebartoggle {
  background-position: center;
  background-size: cover;
  height: 10vw;
  width: 10vw;
}
.sidebar .sidebartoggle:not(:last-child) {
  margin-bottom: 1vw;
}
.sidebar .sidebartoggle-select {
  background-image: url('../img/square.png');
}
.sidebar .sidebartoggle-circle {
  background-image: url('../img/square.png');
}
.sidebar .sidebartoggle-slider {
  background-image: url('../img/square.png');
}
.sidebar .sidebartoggle-spinner {
  background-image: url('../img/square.png');
}
.sidebar .sidebartoggle-newcombo {
  background-image: url('../img/square.png');
}
.sidebar .sidebartoggle-whistle {
  background-image: url('../img/square.png');
}
.sidebar .sidebartoggle-finish {
  background-image: url('../img/square.png');
}
.sidebar .sidebartoggle-clap {
  background-image: url('../img/square.png');
}
.playfield {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 8 0 80%;
      flex: 8 0 80%;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}
.playfield svg {
  max-width: 100%;
}
.bottombar {
  background: blue;
  height: 7%;
  width: 100%;
}
